* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

footer {
  width: 100%;
  height: 40px;
  position: static;
  bottom: 0;
  background-color: azure;
}
