* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

header {
 display: flex;
 width: 100%;
 justify-content: space-around;
}

footer {
 width: 100%;
 height: 40px;
 position: static;
 bottom: 0;
 background-color: azure;
}

.items-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 27%;
  margin: 20px;
}

img {
 width: fit-content;
 align-self: center;
}

#section {
  display: flex;
  margin: 50px;
  justify-content: space-around;
  flex-wrap: wrap;
}